@import "react-untitled-ui/src/styles/mixins";

.card {
    width: 100%;
    margin-top: 24px;
    
    h3.number {
        @include untitled-text-display-md-semibold;
        color: var(--untitled-gray--900);
    }
    
    .map {
        width: 100%;
    }
    
    .countryList {
        display: flex;
        flex-direction: column;
        width: 201px;
        margin-top: 20px;
        
        .item {
            display: flex;
            gap: 16px;
            align-items: start;
            width: 100%;
            
            .progressBar {
                width: 100%;
            }
            
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}