.page {
    width: 100vw;
    height: 100vh;
    display: flex;

    .left, .right {
        width: 50vw;
        height: 100vh;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 660px;
        margin-left: auto;
        padding: 30px 20px 30px 20px;

        form.loginForm {
            display: inline-flex;
            flex-direction: column;
            gap: 12px;
            max-width: 335px;
            
            h1.formTitle {
                color: var(--untitled-gray--700);
                font-size: 36px;
                font-weight: 600;
            }
            
            span.formSubtitle {
                color: var(--untitled-gray--400);
                font-size: 16px;
            }
            
            input[type=checkbox] {
                margin-top: 0;
                
                &:after {
                    height: 22px;
                }
            }
            
            button[type=submit] {
                margin-top: 12px;
            }
        }

        span.copyright {
            color: var(--untitled-gray--400);
            font-size: 14px;
            font-weight: 500;
        }
    }
    
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--untitled-blue-gray--100);
        
        img {
            width: 60%;
            max-width: 450px;
            margin: 16% 30px 30px;
        }
    }
}