@import "react-untitled-ui/src/styles/mixins";

.logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    
    .text {
       @include untitled-text-text-xl-semibold;
        color: var(--untitled-gray--900);
    }
}